In [20]:
import tensorflow as tf
import numpy as np 
from PIL import Image

model = tf.saved_model.load('./input/model/Resnet50')
classes = [ "agkistrodon-contortrix" ,  "agkistrodon-piscivorus" ,  "coluber-constrictor" ,  
           "crotalus-atrox" ,  "crotalus-horridus" ,  "crotalus-ruber" ,  "crotalus-scutulatus" , 
           "crotalus-viridis" ,  "diadophis-punctatus" ,  "haldea-striatula" ,  "heterodon-platirhinos" ,
           "lampropeltis-californiae" ,  "lampropeltis-triangulum" ,  "masticophis-flagellum" , 
           "natrix-natrix" ,  "nerodia-erythrogaster" ,  "nerodia-fasciata" ,  "nerodia-rhombifer" , 
           "nerodia-sipedon" ,  "opheodrys-aestivus" ,  "pantherophis-alleghaniensis" ,
           "pantherophis-emoryi" ,  "pantherophis-guttatus" ,  "pantherophis-obsoletus" , 
           "pantherophis-spiloides" ,  "pantherophis-vulpinus" ,  "pituophis-catenifer" , 
           "rhinocheilus-lecontei" ,  "storeria-dekayi" ,  "storeria-occipitomaculata" , 
           "thamnophis-elegans" ,  "thamnophis-marcianus" ,  "thamnophis-proximus" ,
           "thamnophis-radix" ,  "thamnophis-sirtalis" , ]

In [21]:
import pandas as pd
test=pd.read_csv('./input/dataset2/test.csv')
test.head()

                                            filename                 label
0  D:/Local Disk(D)/EDUCATION/Status Code 1/Snake...  thamnophis-marcianus
1  D:/Local Disk(D)/EDUCATION/Status Code 1/Snake...       nerodia-sipedon
2  D:/Local Disk(D)/EDUCATION/Status Code 1/Snake...     nerodia-rhombifer
3  D:/Local Disk(D)/EDUCATION/Status Code 1/Snake...    thamnophis-elegans
4  D:/Local Disk(D)/EDUCATION/Status Code 1/Snake...     crotalus-horridus

In [22]:
result=[]
for i in test.filename:
    img = Image.open(i).convert('RGB')
    img = img.resize((300, 300 * img.size[1] // img.size[0]), Image.ANTIALIAS)
    inp_numpy = np.array(img)[None]
    inp = tf.constant(inp_numpy, dtype='float32')
    class_scores = model(inp)[0].numpy()
    result.append(classes[class_scores.argmax()])
result[:5]

C:\Users\PRITHWISH\AppData\Local\Temp\ipykernel_2044\564266034.py:4: DeprecationWarning: ANTIALIAS is deprecated and will be removed in Pillow 10 (2023-07-01). Use LANCZOS or Resampling.LANCZOS instead.
  img = img.resize((300, 300 * img.size[1] // img.size[0]), Image.ANTIALIAS)

['thamnophis-marcianus',
 'pantherophis-obsoletus',
 'pantherophis-spiloides',
 'thamnophis-sirtalis',
 'pantherophis-spiloides']

In [23]:
test=test.assign(prediction=result)
test.head()

,filename,label,prediction
0,D:/Local Disk(D)/EDUCATION/Status Code 1/Snake...,thamnophis-marcianus,thamnophis-marcianus
1,D:/Local Disk(D)/EDUCATION/Status Code 1/Snake...,nerodia-sipedon,pantherophis-obsoletus
2,D:/Local Disk(D)/EDUCATION/Status Code 1/Snake...,nerodia-rhombifer,pantherophis-spiloides
3,D:/Local Disk(D)/EDUCATION/Status Code 1/Snake...,thamnophis-elegans,thamnophis-sirtalis
4,D:/Local Disk(D)/EDUCATION/Status Code 1/Snake...,crotalus-horridus,pantherophis-spiloides

In [24]:
train=pd.read_csv('./input/dataset2/train.csv')
train.head()

                                            filename                  label
0  D:/Local Disk(D)/EDUCATION/Status Code 1/Snake...    crotalus-scutulatus
1  D:/Local Disk(D)/EDUCATION/Status Code 1/Snake...  rhinocheilus-lecontei
2  D:/Local Disk(D)/EDUCATION/Status Code 1/Snake...         crotalus-atrox
3  D:/Local Disk(D)/EDUCATION/Status Code 1/Snake...    pituophis-catenifer
4  D:/Local Disk(D)/EDUCATION/Status Code 1/Snake...    pantherophis-emoryi

In [ ]:
result=[]
for i in train.filename:
    img = Image.open(i).convert('RGB')
    img = img.resize((300, 300 * img.size[1] // img.size[0]), Image.ANTIALIAS)
    inp_numpy = np.array(img)[None]
    inp = tf.constant(inp_numpy, dtype='float32')
    class_scores = model(inp)[0].numpy()
    result.append(classes[class_scores.argmax()])
result[:5]

In [ ]:
train=train.assign(prediction=result)
train.head()

,filename,label,prediction
0,/kaggle/input/identifying-different-breeds-of-...,crotalus-scutulatus,crotalus-scutulatus
1,/kaggle/input/identifying-different-breeds-of-...,rhinocheilus-lecontei,rhinocheilus-lecontei
2,/kaggle/input/identifying-different-breeds-of-...,crotalus-atrox,crotalus-atrox
3,/kaggle/input/identifying-different-breeds-of-...,pituophis-catenifer,pituophis-catenifer
4,/kaggle/input/identifying-different-breeds-of-...,pantherophis-emoryi,pantherophis-vulpinus

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(train['label'],train['prediction']))

                             precision    recall  f1-score   support

     agkistrodon-contortrix       0.87      0.89      0.88       296
     agkistrodon-piscivorus       0.98      0.50      0.66       333
        coluber-constrictor       0.75      0.82      0.78       298
             crotalus-atrox       0.63      0.94      0.76       337
          crotalus-horridus       0.89      0.63      0.74       273
             crotalus-ruber       0.98      0.43      0.60       261
        crotalus-scutulatus       0.75      0.71      0.73       301
           crotalus-viridis       0.76      0.75      0.76       288
        diadophis-punctatus       0.85      0.96      0.90       301
           haldea-striatula       0.80      0.84      0.82       303
      heterodon-platirhinos       0.58      0.87      0.70       329
   lampropeltis-californiae       0.88      0.84      0.86       296
    lampropeltis-triangulum       0.86      0.91      0.88       334
      masticophis-flagellum       0.91      0.70      0.79       305
              natrix-natrix       0.84      0.74      0.79       335
      nerodia-erythrogaster       0.58      0.83      0.69       284
           nerodia-fasciata       0.77      0.75      0.76       309
          nerodia-rhombifer       0.76      0.75      0.75       279
            nerodia-sipedon       0.85      0.70      0.77       316
         opheodrys-aestivus       0.92      0.93      0.93       309
pantherophis-alleghaniensis       0.83      0.41      0.55       309
        pantherophis-emoryi       0.94      0.51      0.66       268
      pantherophis-guttatus       0.57      0.91      0.70       319
     pantherophis-obsoletus       0.68      0.70      0.69       298
     pantherophis-spiloides       0.70      0.57      0.63       302
      pantherophis-vulpinus       0.68      0.81      0.74       291
        pituophis-catenifer       0.77      0.81      0.79       300
      rhinocheilus-lecontei       0.92      0.90      0.91       311
            storeria-dekayi       0.77      0.90      0.83       309
  storeria-occipitomaculata       0.82      0.85      0.83       307
         thamnophis-elegans       0.83      0.60      0.69       277
       thamnophis-marcianus       0.82      0.84      0.83       287
        thamnophis-proximus       0.72      0.92      0.80       283
           thamnophis-radix       0.66      0.88      0.75       272
        thamnophis-sirtalis       0.78      0.67      0.72       328

                   accuracy                           0.77     10548
                  macro avg       0.79      0.76      0.76     10548
               weighted avg       0.79      0.77      0.76     10548

In [ ]:
print(classification_report(test['label'],test['prediction']))

                             precision    recall  f1-score   support

     agkistrodon-contortrix       0.79      0.88      0.83        64
     agkistrodon-piscivorus       0.89      0.43      0.58        77
        coluber-constrictor       0.60      0.61      0.61        87
             crotalus-atrox       0.40      0.76      0.53        75
          crotalus-horridus       0.90      0.63      0.74        86
             crotalus-ruber       1.00      0.27      0.42        90
        crotalus-scutulatus       0.61      0.58      0.59        73
           crotalus-viridis       0.63      0.63      0.63        87
        diadophis-punctatus       0.82      0.88      0.85        75
           haldea-striatula       0.67      0.60      0.63        70
      heterodon-platirhinos       0.40      0.77      0.53        66
   lampropeltis-californiae       0.84      0.74      0.79        77
    lampropeltis-triangulum       0.87      0.94      0.90        84
      masticophis-flagellum       0.79      0.56      0.65        88
              natrix-natrix       0.82      0.58      0.68        91
      nerodia-erythrogaster       0.43      0.58      0.50        86
           nerodia-fasciata       0.58      0.58      0.58        72
          nerodia-rhombifer       0.61      0.59      0.60        81
            nerodia-sipedon       0.63      0.59      0.61        54
         opheodrys-aestivus       0.80      0.78      0.79        67
pantherophis-alleghaniensis       0.52      0.20      0.29        66
        pantherophis-emoryi       0.87      0.43      0.57        61
      pantherophis-guttatus       0.51      0.89      0.65        80
     pantherophis-obsoletus       0.43      0.43      0.43        77
     pantherophis-spiloides       0.45      0.35      0.39        66
      pantherophis-vulpinus       0.58      0.66      0.62        73
        pituophis-catenifer       0.64      0.59      0.61        71
      rhinocheilus-lecontei       0.83      0.78      0.80        67
            storeria-dekayi       0.61      0.81      0.70        81
  storeria-occipitomaculata       0.55      0.67      0.60        72
         thamnophis-elegans       0.58      0.35      0.44        93
       thamnophis-marcianus       0.63      0.76      0.69        62
        thamnophis-proximus       0.59      0.77      0.67        75
           thamnophis-radix       0.47      0.61      0.53        71
        thamnophis-sirtalis       0.56      0.56      0.56        72

                   accuracy                           0.62      2637
                  macro avg       0.65      0.62      0.62      2637
               weighted avg       0.66      0.62      0.62      2637